@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/typography";

.a {
  position: unset;
}

@theme inline {
  --color-background: var(--background);
  --color-background-from: var(--background-from);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(17% 0.0133 264.15);
  --background-from: oklch(21% 0.0181 266.25);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.47 0.2 302.13);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.2997 0.024 261.16);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --radius: 0.625rem;
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glassmorphism {
  background-color: #5e50ab;
  background-image:
    radial-gradient(at 47% 33%, hsl(269.42, 53%, 62%) 0, transparent 59%),
    radial-gradient(
      at 82% 65%,
      hsl(258.95, 55.00000000000001%, 28.999999999999996%) 0,
      transparent 55%
    );
}

.glassmorphism-hiron {
  background-color: #a1a1a1;
  background-image:
    radial-gradient(at 47% 33%, hsl(180, 0%, 87%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(195, 0%, 100%) 0, transparent 55%);
}

.glassmorphism-diamond {
  background-color: #288fad;
  background-image:
    radial-gradient(at 47% 33%, hsl(185.14, 84%, 35%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(190.14, 100%, 40%) 0, transparent 55%);
}

.glassmorphism-netherite {
  background-color: #222222;
  background-image:
    radial-gradient(at 47% 33%, hsl(0, 0%, 59%) 0, transparent 59%),
    radial-gradient(at 82% 65%, hsl(0, 0%, 51%) 0, transparent 55%);
}

.pixelated {
  image-rendering: pixelated;
}

body::-webkit-scrollbar {
  width: 10px; /* o el tamaño que quieras */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* o totalmente transparente */
}

:target,
section[id],
div[id],
button[id] {
  scroll-margin-top: 4.5rem;
}

html {
  scroll-behavior: smooth;
}

::view-transition-old(main) {
  animation: fade-out 500ms ease-in-out both;
}
::view-transition-new(main) {
  animation: fade-in 500ms ease-in-out both;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 2000ms ease forwards;
}
