.cube-wrap {
  width: 176px;
  height: 176px;
  perspective: 2000px;
  perspective-origin: 50% -500px;
}
.box {
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}
.single-box {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  transform-origin: 50% 50% 0;
}
.single-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
.side-front {
  transform: translateZ(80px);
}
.side-back {
  transform: rotateY(180deg) translateZ(80px);
}
.side-top {
  transform: rotateX(90deg) translateZ(80px);
}
.side-bottom {
  transform: rotateX(-90deg) translateZ(80px);
}
.side-left {
  transform: rotateY(-90deg) translateZ(80px);
}
.side-right {
  transform: rotateY(90deg) translateZ(80px);
}
@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}
